.default {
    padding: 5px 10px;
    cursor: pointer;
}

.default > span {
    position: relative;
    left: 0;
    top: -5px;
}

.checked {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #FDBC11;
    cursor: pointer;
}