$color-header: rgba(128, 128, 128, 1);
$color-background-checked: #FDBC11;

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > h2 {
        color: $color-header;
    }
    & > div {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.default {
    padding: 5px 10px;
    cursor: pointer;
    & > span {
        position: relative;
        left: 0;
        top: -5px;
    }
}

.checked {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: $color-background-checked;
    cursor: pointer;
}