.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container > h2 {
    color: rgba(128, 128, 128, 1);
}

.sorterContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.default {
    padding: 5px 10px;
    cursor: pointer;
}

.default > span {
    position: relative;
    left: 0;
    top: -5px;
}

.checked {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #FDBC11;
    cursor: pointer;
}

.columnsQtyInput {
    width: 100%;
}