.container {
    width: 100vw;
    height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 412px;
    height: 363px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
}

.inputSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formContainer > button {
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    background-color: rgba(253, 188, 17, 1);
    box-shadow: 0 2px 18px 0 rgba(128, 128, 128, 0.1);
    text-align: center;
}

.errorMessage {
    position: absolute;
    bottom: -35px;
    color: #DC0B35;
}