.container {
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container > h2 {
    color: rgba(128, 128, 128, 1);
}

.range {
    height: 24px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range .value {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 50;
    color: #2B2B2B;
    background-color: #F2F2F2;
    border-radius: 50%;
    text-align: center;
    line-height: 24.2px;
    cursor: pointer;
}

.range .value.left {
    left: 0;
}

.range .value.right {
    right: 0;
}

.range .value.active {
    background: #FDBC11;
}

.range input {
    position: relative;
    -webkit-appearance: none;
    height: 15px;
    width: 100%;
    background: #f2f2f2;
    border-radius: 50px;
    outline: none;
    overflow: hidden;
}

.range > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 24px;
    background: #FDBC11;
    box-shadow: -800px 0 0 800px #FDBC11;
    border-radius: 50%;
}

.range > input::-moz-range-thumb {
    width: 20px;
    height: 24px;
    background: #FDBC11;
    box-shadow: -800px 0 0 800px #FDBC11;
    border-radius: 50%;
}

@media(max-width:428px){
    .container {
        display: none;
    }
}