.container {
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container > h2 {
    color: rgba(128, 128, 128, 1);
}

@media(max-width:428px){
    .container {
        display: none;
    }
}