$color-error: #DC0B35;
$color-placeholder: rgba(128, 128, 128, 1);
$color-border: rgba(242, 242, 242, 1);

.container {
    position: relative;
    width: 100%;
    height: 64px;
    & > input {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        padding: 16px 16px 0 16px;
        outline: none;
        border-radius: 4px;
        border: 1px solid $color-border;
        background: transparent;
    }
    & .isErrorField {
        border: 1px solid $color-error;
        transition: all ease 0.1s;
    }
    & .placeholder {
        position: absolute;
        left: 16px;
        top: 24px;
        z-index: 10;
        color: $color-placeholder;
        transition: all ease 0.1s;
    }
    & .active {
        position: absolute;
        font-size: 12px;
        line-height: 14.4px;
        top: 16px;
        left: 16px;
        color: $color-placeholder;
        transition: all ease 0.1s;
    }
    & .errorMessage {
        position: absolute;
        bottom: 0;
        left: 16px;
        color: $color-error;
        font-size: 10px;
        transition: all ease 0.1s;
    }
}