.container {
    width: 100%;
    height: min-content; 
    position: relative;
    & > img {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}