.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.gamesAmountInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamesAmountInfo > span {
    color: rgba(128, 128, 128, 1);
}

.gamesAmountInfo > div {
    width: 120px;
    height: 42px;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 -2px 18px 0 #808080;
    color: #808080;
    text-align: center;
    line-height: 0.2em;
    cursor: pointer;
    transition: 0.2s ease all;
}

.gamesAmountInfo > div:hover, div:active {
    box-shadow: 0 0 4px 0 rgba(128, 128, 128, 0.06);
    color: rgba(43, 43, 43, 1);
    cursor: pointer;
    transition: 0.2s ease all;
}

@media(max-width:1024px){
    .container {
        display: none;
    }
    .isShow {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}