$color-placeholder: rgba(128, 128, 128, 1);
$color-border: #F2F2F2;

.container {
    position: relative;
    height: 64px;
    width: 100%;
    & > input {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        padding: 0 48px 0 16px;
        outline: none;
        border-radius: 4px;
        border: 1px solid $color-border;
        background: transparent;
    }
    & > span {
        position: absolute;
        left: 16px;
        top: 24px;
        z-index: 10;
        color: $color-placeholder;
    }
    & .active {
        display: none;
    }
    & > img {
        position: absolute;
        right: 16px;
        top: 24px;
    }
}