$color-background: #FFFFFF;
$color-border: #F2F2F2;
$color-text-switch: #3F53BE;

.container {
    width: min(412px, 32.5%);
    height: fit-content;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid $color-border;
    border-radius: 8px;
    & .showSwitch {
        display: none;
    }
}

@media(max-width:1024px){
    .container {
        width: calc(100% - min(164px, 11.4%)) ;
        position: absolute;
        left: min(82px, 5.7%);
        top: 36px;
        background-color: $color-background;
        & .showSwitch {
            display: flex;
            align-self: center;
            gap: 8px;
            align-items: center;
            color: $color-text-switch;
            cursor: pointer;
            line-height: 19.2px;
            font-size: 16px;
        }
    }
}

@media(max-width:428px){
    .container {
        width: calc(100% - 48px) ;
        position: absolute;
        left: min(82px, 5.7%);
        top: 24px;
    }
}